.covid-count {
	background: rgba(150, 0, 255, .7);
	box-sizing: border-box;
	height: 300px;
	padding: 0 50px;
	font-family: 'sans-serif';
}

.covid-count .positif {
	background: #aaaaaa;
}

.covid-count .dirawat {
	background: #00bbbb;
}

.covid-count .sembuh {
	background: #0bea0b;
}

.covid-count .meninggal {
	background: #f01010;
}

.covid-count .card {
	margin: 50px;
	margin-left: 0;
	padding: 20px;
	opacity: 1;
	text-align: center;
	border: solid thin black;
	color: white;
}

.covid-count .card .card-title {
	position: relative;
	margin-top: 40px;
}

.covid-count .card .card-title::before {
	content: '';
	position: absolute;
	top: -20px;
	width: 90%;
	height: 1px;
	border-top: solid 2px white;
	transform: translateX(-50%);
	transition: all .2s;
}

.modul-vaksin {
	margin: 4em;
	border: thin black solid;
	border-radius: 1em;
	padding: 2em;
}

.modul-vaksin h2 {
	text-align: center;
	margin: 1em 0;
	letter-spacing: 5px;
}

.modul-vaksin p {
	margin-bottom: 0;
	margin-top: 10px;
}

.rujukan {
	background: aqua;
	display: flex;
	padding: 1em;
	border: thin solid black;
}

.rujukan a {
	position: absolute;
	text-decoration: none;
	color: white;
	font-weight: 800;
	border: gray thin solid;
	background: blue;
	right: 30px;
	height: 3em;
	font-size: 1.2em;
	padding: 0.5em 1em;
	/*margin-left: 100px;*/
}
